.navigation{
    background-color: #F4C2C2 ;
    text-align: center;
}
a{
    color:indianred;
    text-decoration: none;
    font-size: 2em;
    margin-left: 5%;
    margin-right: 5%;
}
a:hover{
    color:red;
}
h1 {
    font-size:60px;
    color:indianred;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    color:indianred;
    font-family: 'Times New Roman', Times, serif;
}

.photo_footer{
    text-align: center;
}
span{
    background-color: #f4c2c2;
}
.organise{
    text-align: center;
}
.timeline button{
    margin: -120px 0 0 120px;
    display: inline;
}
#one{
    width: 33.3%;
    float:left;
}
#two, #three{
    width: 33.3%;
    float: right;
}

