.navigation{
    background-color: #F4C2C2 ;
    text-align:center;
}
a{
    color:indianred;
    text-decoration: none;
    font-size: 2em;
    padding-left: 20%;
}
a:hover{
    color:red;
}
h1 {
    font-size:4em;
    color:indianred;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.professional_photo{
    width: 25%;
    height:auto;
    margin: auto;
}
h2{
    color:indianred;
    font-family: 'Times New Roman', Times, serif;
}
