.navigation{
    background-color: lightgray ;
    text-align: center;
}
a{
    color: #444444;
    text-decoration: none;
    font-size: 2em;
    margin-left: 5%;
    margin-right: 5%;
}
a:hover{
    color: black;
}
h1 {
    font-size:60px;
    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: darkgray;
}
h2{
    background-color: lightgray;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: #444444;
}

.photo_footer{
    text-align: center;
}
#drag_here span{
    background-color: #f4c2c2;
}
.organise{
    text-align: center;
}
.timeline{
    margin: -120px 0 0 120px;
    display: inline;
}
#one, #description_one{
    width: 33.3%;
    float:left;
}
#two, #three, #description_two, #description_three{
    width: 33.3%;
    float: right;
}
.descriptions{
    margin: -120px 0 0 120px;
    display: inline;
}
section {
    background-color: lightgray;
}
#name{
    background-color: darkgray;
    color: black;
    font-size: 4em;
}



